$border-color: #25113f;
$margin-top: -42px;
$primary: #25113f;

$base-padding: 0.75rem;
$margin-top-nav: 5px;

.ashay
{

    margin-top: $margin-top-nav;

}

$green-dark:#719c87;
$pink:#ff8580;
$Nav: #ffffff;
$bg:#fafbfc;
$green-light:#8cd3bb;

$rad:15px;